level0/Library/ filter=lfs diff=lfs merge=lfs -text
level0/Library/AnnotationManager filter=lfs diff=lfs merge=lfs -text
level0/Library/assetDatabase3 filter=lfs diff=lfs merge=lfs -text
level0/Library/AssetImportState filter=lfs diff=lfs merge=lfs -text
level0/Library/AssetServerCacheV3 filter=lfs diff=lfs merge=lfs -text
level0/Library/AssetVersioning.db filter=lfs diff=lfs merge=lfs -text
level0/Library/BuildPlayer.prefs filter=lfs diff=lfs merge=lfs -text
level0/Library/BuildSettings.asset filter=lfs diff=lfs merge=lfs -text
level0/Library/CurrentLayout.dwlt filter=lfs diff=lfs merge=lfs -text
level0/Library/CurrentMaximizeLayout.dwlt filter=lfs diff=lfs merge=lfs -text
level0/Library/EditorUserBuildSettings.asset filter=lfs diff=lfs merge=lfs -text
level0/Library/EditorUserSettings.asset filter=lfs diff=lfs merge=lfs -text
level0/Library/expandedItems filter=lfs diff=lfs merge=lfs -text
level0/Library/InspectorExpandedItems.asset filter=lfs diff=lfs merge=lfs -text
level0/Library/LastSceneManagerSetup.txt filter=lfs diff=lfs merge=lfs -text
level0/Library/LibraryFormatVersion.txt filter=lfs diff=lfs merge=lfs -text
level0/Library/metadata filter=lfs diff=lfs merge=lfs -text
level0/Library/MonoManager.asset filter=lfs diff=lfs merge=lfs -text
level0/Library/ProjectSettings.asset filter=lfs diff=lfs merge=lfs -text
level0/Library/ScriptAssemblies filter=lfs diff=lfs merge=lfs -text
level0/Library/ScriptMapper filter=lfs diff=lfs merge=lfs -text
level0/Library/ShaderCache filter=lfs diff=lfs merge=lfs -text
level0/Library/ShaderCache.db filter=lfs diff=lfs merge=lfs -text
level0/Library/shadercompiler-UnityShaderCompiler.exe0.log filter=lfs diff=lfs merge=lfs -text
level0/Library/UnityAssemblies filter=lfs diff=lfs merge=lfs -text
